* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


body{
    background-color: royalblue;
    padding:0; 
    margin:0; 
    height:100%;
   
}

header {
    background-color: rgb(7, 36, 78);
    height: 1in;
    padding: 30px;
    padding-left: 10px;
    background-image: url(../images/pattern.jpg);
}

h1 mark { 
     color:rgb(44, 55, 87);
    background-color:rgb(107, 153, 161);
    font-size: 45px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: left;
   
}

header nav {
    margin-right: 30px;
    float: right;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 15px;
    
}

header nav ul{
    list-style-type: none;
    
}

header nav ul li {
    text-align: center;
    display: inline;
    margin-right: 100px;
    font-weight: bold;
      
}

a {
    color: rgb(38, 76, 180);    
}

img {
    width: auto;
    height: auto;
    object-fit: contain;
    float:left;
    padding-left: 20px;
    
}

#contain {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    
}

.circle{
    width:200px;
    height: 200px;
    background-image: url(../images/code.jpg);
    border-radius: 50%;

}
   
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.first,.fourth {
    color: rgb(51, 165, 159);
    font-family: initial;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;

}

main{
    margin-top: 400px;
    margin-right: 100px;
    float: right;
    
}

section ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
       
}

.second{
    font-family:initial;
    font-size: 55px;
    font-weight: bold;
    font-style: italic;
    color: thistle;
    margin-left: 350px;
    text-decoration-style: wavy;
   
}


h3{
    font-size: 30px;
    margin-left: 75px;
    
}

.thumbnailA{
    width: 30%;
}

.thumbnailB{
    width:60%; 
}

/* image made larger hover effect for projects*/
.thumbnailA:hover, .thumbnailB:hover {
    width: 100%;
    height:100%;
}

.third{
    font-family:initial;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: mediumslateblue;
}

aside p{
    font-size: 25px;
    margin-left: 20px;
   
}
footer{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2{
    text-align:center;
    margin-right: 100px; 
}

footer li {
    font-size: 20px;
    text-align:center;
    margin-right: 100px;
    list-style-type: none; 
}

footer a{
    color:hotpink;
    text-decoration: none;
}

/*MEDIA QUERIES FOR MOBILE*/

@media screen and (max-width: 600px){
    h1 mark {
        font-size:40px;
    }

    header {
        display:flex;
        flex-wrap: wrap;
        height: 1.5in;
        padding: 30px;
        padding-left: 25px;

    }
    
    img {
       width:35%;
       height:120%;
       padding-left:5px;
       padding-top: 130px;
        }

    header nav ul li{
              
         margin-right:15px;
         font-weight: bold;
         font-size: 15px; 
          
    }

    #contain {
        position:absolute;
        top:75%;
        left:65%; 
        width: auto;
        height:fit-content;
        font-size: 12px;
        border-radius: 100px;
         
    }
     
    .circle {
        width:auto; 
        background-repeat: no-repeat;  
    }

      section ul{
       flex-direction: column;
    }

    .thumbnailA{
  
        padding-right: 120px;
        padding-left: 130px;
        width:100%;
        margin-left: 175px;
        margin-bottom:25px;
        
    }

    .thumbnailB {
        width: 40%;
        margin-left: 300px;

    }

    h3{
          
          font-size:20px;
          margin-left: 275px;
          text-align: center;
       
      }
      
    
     .second{
        font-size: 40px;
        margin-right: 150px;
         
        }

     .third{
            font-size: 25px;
            margin-right: 50px;
        }

        .fourth, aside p, aside img{
            margin-left:325px;
            margin-bottom: 20px;
        }

        footer li {
            
            font-size: 15px;
            margin-left: 50px;
            list-style-type: none; 
        }
    

    }